@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

$background-color: #E0E0E0;
$light-background-color: #FAFAFA;
$dark-background-color: #BDBDBD;
$border-color: #9E9E9E;
$foreground-color: #424242;
$delete-color: #B71C1C;
$light-delete-color: #F44336;
$add-color: #2E7D32;
$light-add-color: #4CAF50;
$sidebar-width: 300px;

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: $foreground-color;
	background-color: $dark-background-color;
}

#root, #vecpad-container {
	height: 100%;
	width: 100%;
}

#visualizer-container {
	position: absolute;
	right: 300px;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;

	#logo img {
		padding: 20px;
		height: 50px;
		position: fixed;
		z-index: 1;
	}

	canvas {
		position: absolute;
	}

	.object-label {
		color: $foreground-color;
		pointer-events: none;
		font-family: 'Roboto Mono', monospace;
		font-size: 14px;
		padding: 5px;

		&.selected {
			font-weight: bold;
		}

		&.hidden {
			display: none;
		}
	}

	#timeline {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 400px;
		padding: 15px;
		border-top: 1px solid $border-color;
		box-sizing: border-box;
		background-color: $background-color;

		#transformations-editor {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: inline-flex;

			#transformation-list-container {
				width: 100%;
				height: 100%;
				display: flex;
				flex-flow: column;

				#transformations-controls {
					width: 100%;
					height: 20%;
					box-sizing: border-box;

					h1 {
						margin: 0;
						margin-bottom: 10px;
					}

					#transformations-slider {
						width: 100%;
						box-sizing: border-box;
						padding: 0;
					}
				}

				#transformation-list {
					flex: 1;
					display: inline-flex;
					border: 1px solid $border-color;
					box-sizing: border-box;
					overflow-x: auto;
					background-color: $light-background-color;

					.transformation-info {
						padding: 15px;
						position: relative;
						min-width: 300px;
						box-sizing: border-box;
						height: 100%;
						overflow-y: auto;
						background-color: $dark-background-color;

						h2 {
							margin-top: 0;
						}

						.transformation-controls > * {
							margin-bottom: 10px;
						}

						.transformation-list-controls {
							width: 300px - 2 * 15px;
							display: flex;
							justify-content: space-evenly;
							position: absolute;
							box-sizing: border-box;
							bottom: 15px;
						}

						&.active {
							background-color: $border-color;
						}
					}
				}
			}

			#add-transformation {
				height: 80%;
				top: 20%;
				margin-left: 15px;
				position: relative;
				display: flex;
				align-items: center;
				box-sizing: border-box;
			}
		}
	}
}

#sidebar {
	box-sizing: border-box;
	width: $sidebar-width;
	position: absolute;
	right: 0;
	height: 100%;
	border: 1px solid $border-color;
	background-color: $background-color;
	display: flex;
	flex-flow: column;

	#scene-editor {
		padding: 15px;
		flex: 1;
		box-sizing: border-box;
		overflow-y: auto;

		& > * {
			margin-bottom: 10px;
		}

		#add-object {
			display: flex;
			justify-content: center;
		}

		#object-list {
			border: 1px solid $border-color;
			overflow-y: auto;
			height: 300px;
			background-color: $light-background-color;
			position: relative;

			.object-info {
				padding: 5px;
				display: flex;
				align-items: baseline;

				p {
					flex: 1;
					margin: 0;
					cursor: pointer;
				}

				&.selected {
					background-color: $dark-background-color;
				}
			}
		}
	}


	#selection-editor {
		border-top: 1px solid $border-color;
		flex: 1;
		box-sizing: border-box;
		padding: 15px;
		overflow-y: auto;

		& > *, .type-specfic-controls > * {
			margin-bottom: 10px;
		}
	}
}

.input-group {
	display: flex;
	align-items: center;

	label {
		margin-right: 5px;
	}
}

button {
	appearance: none;
	border: none;
	cursor: pointer;
	color: $foreground-color;
	background-color: $dark-background-color;
	padding: 3px 6px;
	outline: none;

	&::-moz-focus-inner {
		border: 0;
	}

	&:hover {
		background-color: $light-background-color;
	}

	&.text-only {
		background: none;
		padding: 0;
		font-weight: bold;
		&:hover {
			color:  $dark-background-color;
		}
	}

	&.delete {
		color: $delete-color;
		font-size: 16px;
		font-weight: bolder;

		&:hover {
			color: $light-delete-color;
		}
	}

	&.add {
		color: $add-color;
	}
}

.coordinates-picker {
	display: flex;
	align-items: center;

	label {
		margin-right: 5px;
		display: inline-block;
	}

	.coordinates {
		flex: 1;
		display: flex;
		justify-content: space-between;
		&>input {
			width: 50px;
		}
	}
}

select {
	border: none;
	color: $foreground-color;
	background-color: $dark-background-color;
	outline: none;
	cursor: pointer;
	padding: 3px;

	&:hover {
		background-color: $light-background-color;
	}
}

.add-select {
	appearance: none;
	color: $add-color;
	background: none;
	font-size: 20px;
	font-weight: bolder;
	width: 27px;
	padding: 3px;
	padding: 0;
	margin: 0;

	&:hover {
		background: none;
		color: $light-add-color;
	}

	optgroup {
		font-size: 14px;
		color: $foreground-color;

		option {
			&:first-child {
				display: block;
			}
		}
	}

	option {
		color: $foreground-color;
		font-size: 14px;
		font-weight: normal;

		&:first-child {
			display: none;
		}
	}
}

input {
	background-color: $light-background-color;
	border: none;
	padding: 3px;
	color: $foreground-color;
	margin: 0;
	outline: none;

	&:focus {
		border: 0;
	}

	&[type=range] {
		appearance: none;
		height: 20px;
		background: none;
		outline: none;

		&::-webkit-slider-runnable-track {
			-webkit-appearance: none;
			height: 2px;
			background: $dark-background-color;
		}

		&::-moz-range-track {
			appearance: none;
			height: 2px;
			background: $dark-background-color;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 20px;
			width: 7px;
			margin-top: -9px;
			background: white;
			border: none;
			border-radius: 0;
			cursor: pointer;
		}

		&::-moz-range-thumb {
			appearance: none;
			height: 20px;
			width: 7px;
			margin-top: -9px;
			background: white;
			border: none;
			border-radius: 0;
			cursor: pointer;
		}
	}
}