$background-color: white;
$foreground-color: black;

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#root {
	display: flex;
	flex: 1;
}

#vecpad-container {
	flex: 1;
	display: flex;
}

#visualizer-container {
	flex: 7;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	#visualizer {
		display: flex;
		flex: 1 1 auto;
	}

	#label-renderer {
		z-index: 1;
	}

	.object-label {
		color: $foreground-color;
		pointer-events:none;
		font-family: monospace;

		&.selected {
			color: #FFA500;
			font-weight: bold;
		}
	}
}

#toolbar {
	min-height: 75px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;

	> * {
		flex: 1;
		display: flex;
		align-items: center;
	}

	#logo img {
		padding: 10px;
		height: 50px;
	}
}

#sidebar {
	flex: 3;
	display: flex;
	flex-flow: column;
	min-width: 30%;
	align-content: stretch;

	#object-list {
		flex: 1 auto;
		display: flex;
		border: 1px solid black;
		flex-flow: column;
		overflow: auto;

		.object-info {
			padding: 15px;
			border-bottom: 1px solid black;
		}
	}

	#selection-editor {
		flex: 1 auto;
		border: 1px solid black;
		min-height: 50%;
		padding: 15px;

		#transformation-list {
			border: 1px solid black;
			margin-top: 15px;
			max-height: 45%;
			overflow: auto;

			.transformation-info {
				padding: 15px;
				border-bottom: 1px solid black;

				.transformation-slider * {
					display: inline;

				}

				.transformation-slider input {
					margin: 0 15px;
				}
			}
		}
	}
}

#modal-container {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 2;

	&.visible {
		display: flex;
	}

	&.hidden {
		display: none;
	}

	#modal-window {
		flex: 1;
		display: flex;
		flex-flow: column;
		align-items: stretch;
		max-width: 75%;
		height: 75%;
		background-color: $background-color;

		#modal-header {
			border-bottom: 1px solid black;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 30px;
			padding: 10px;

			#modal-close {
				cursor: pointer;
				font-size: 2em;
			}
		}

		#modal-content {
			flex: 1;
			padding: 15px;
			height: 100%;
			overflow: auto;

			div {
				margin: 10px;
			}

			form {
				.input-group, fieldset, button {
					display: block;
					margin-bottom: 10px;
				}

				fieldset input {
					margin:0 5px;
				}
			}
		}
	}
}

.input-group label {
	margin-right: 5px;
}