/*
	Main layout section
*/

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#root {
	display: flex;
	flex: 1;
}

#vecpad-container {
	flex: 1;
	display: flex;
}

/*
	Visualizer section
*/

#visualizer-container {
	flex: 7;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#visualizer {
	display: flex;
	flex: 1 1 auto;
}

.object-label {
	color: black;
	pointer-events:none;
	font-family: monospace;
}

/*
	Toolbar section
*/

#toolbar {
	min-height: 75px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
}

#toolbar > * {
	flex: 1 auto;
	display: flex;
	align-items: center;
}

#logo img {
	padding: 10px;
	height: 50px;
}

/*
	Sidebar section
*/

#sidebar {
	flex: 3;
	display: flex;
	flex-flow: column;
	min-width: 30%;
	align-content: stretch;
}

#sidebar > * {
	flex: 1 auto;
	display: flex;
	border: 1px solid black;
}

/*
	Modal section
*/

#modal-container {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

#modal-container.visible {
	display: flex;
}

#modal-container.hidden {
	display: none;
}

#modal-window {
	flex: 1;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	max-width: 75%;
	height: 75%;
	background-color: white;
}

#modal-header {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding: 10px;
}

#modal-content {
	flex: 1;
	padding: 15px;
	height: 100%;
	overflow: auto;
}

#modal-content > * {
	margin: 10px;
}

#modal-close {
	cursor: pointer;
	font-size: 2em;
}